<header>
  <h1>
    Welcome to Awareness Through Movement!<%= current_user.email %>
  </h1>
  <h2>
    Rails Version <%= Rails.version %> 
  </h2>
</header>
<section>
  <p>
    ATMovement Dashboard
  </p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>
